* {
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* Globel Style */
.container {
    width: 83%;
    margin: auto;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.textCenter {
    text-align: center;
}
.textCenter p {
    color: #2b98f0;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
}
.textCenter h3 {
    font-size: 44px;
    font-weight: 400;
    margin-top: 10px;
    color: #33313b;
}
/* Start Header */
.header {
    background-color: #0f7fd9;
    color: #fff;
    padding: 5px 0;
}
.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header .left p {
    margin: 0;
    font-size: 0.75rem;
    color: #fff;
}
.header .left p span {
    color: rgba(255, 255, 255, 0.6);
}
.header .right i:not(:last-child) {
    margin-right: 15px;
    cursor: pointer;
}
/* End Header */

/* Start Navbar */
nav {
    background: rgba(255, 255, 255, 0.2);
    padding: 15px 0;
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 999;
}
@media (max-width: 991px) {
    nav {
        background: #fff;
        padding: 0;
    }
}
nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav h3 {
    text-transform: uppercase;
    color: #fff;
}
@media (max-width: 991px) {
    nav h3 {
        margin: 15px 0;
        color: #000;
    }
}
nav h3 span {
    color: #f3e53d;
}
@media (max-width: 991px) {
    nav h3 span {
        color: #2b98f0;
    }
}
nav ul {
    display: flex;
}
@media (max-width: 991px) {
    nav ul {
        display: none;
    }
}
nav ul li {
    text-transform: capitalize;
    display: block;
}
nav ul li a {
    color: #fff;
    font-size: 14px;
    position: relative;
}
nav ul li a {
    padding-left: 40px;
    transition: 0.3s linear;
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -ms-transition: 0.3s linear;
    -o-transition: 0.3s linear;
}
nav ul li a:hover {
    color: #f3e53d;
}
nav ul li a.active {
    color: #f3e53d;
}
nav ul li a.active::before,
nav ul li a::before {
    content: "";
    position: absolute;
    bottom: -34px;
    left: calc(50% + 20px);
    width: 100%;
    height: 2px;
    background-color: #f3e53d;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transition: 0.3s linear;
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -ms-transition: 0.3s linear;
    -o-transition: 0.3s linear;
}
nav ul li a::before {
    width: 0;
}
nav ul li a:hover:before {
    left: calc(50% + 20px);
    width: 100%;
}
nav .bars {
    display: none;
    align-items: center;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.5) !important;
}
@media (max-width: 991px) {
    nav .bars {
        display: flex;
    }
}
nav .bars i {
    margin: 10px;
}
/* nav .bars i { */

/* End Navbar */

/* Start Intro */
.intro {
    background: url(../images/bg_1.jpg) no-repeat center top fixed;
    background-size: cover;
    height: 100vh;
    position: relative;
}
.intro::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0.3;
}
.intro .content {
    width: 40%;
    position: absolute;
    top: 50%;

    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
@media (max-width: 767px) {
    .intro .content {
        width: 100%;
        text-align: center;
        left: 0;
    }
}
.intro .content h2 {
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
    font-size: 18px;
}
.intro .content h1 {
    color: #fff;
    font-weight: 400;
    font-size: 40px;
    font-family: "Roboto", Arial, sans-serif;
}
.intro .content .btn {
    background-color: #2b98f0;
    border: 1px solid #2b98f0;
    text-transform: uppercase;
    padding: 8px 20px;
    font-weight: bold;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
}
.intro .content .btn:hover {
    color: #0f7fd9;
    background-color: transparent;
}
/* End Intro */

/* Start Form */
.form {
    margin: -40px auto 0;
    box-shadow: 0px 12px 31px -16px rgb(0 0 0 / 15%);
    background-color: #fff;
    position: relative;
    height: 120px;
}
@media (max-width: 767px) {
    .form {
        height: 100%;
        margin: 0;
    }
}
.form .row {
    display: flex;
    align-items: center;
}
@media (max-width: 767px) {
    .form .row {
        flex-direction: column;
        align-items: flex-start;
    }
}
.form .row .box {
    width: calc(100% / 5);
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}
@media (max-width: 767px) {
    .form .row .box {
        width: 100%;
        padding: 20px;
    }
}
.form .row .box label {
    font-size: 12px;
    font-weight: 500;
    color: #2b98f0;
    text-transform: uppercase;
}
.form .row .box input {
    padding: 10px 0;
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    outline: none;
}
.form .row .box select {
    padding: 10px 0;
    border: none;
    outline: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.form .row .box select option {
    text-transform: uppercase;
}
.form .row .submit {
    margin-left: auto;
}
@media (max-width: 767px) {
    .form .row .submit {
        width: 100%;
    }
}
.form .row input[type="submit"] {
    background-color: #2b98f0;
    color: #fff;
    border: none;
    display: block;
    height: 120px;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
}
@media (max-width: 767px) {
    .form .row .submit input[type="submit"] {
        width: 100%;
        height: 50px;
    }
}
.form .row input[type="submit"]:hover {
    color: #f3e53d;
}
/* End Form */

/* Start Fresher */
.fresher .row {
    display: flex;
}
@media (max-width: 991px) {
    .fresher .row {
        flex-direction: column;
    }
}
.fresher .row .left {
    position: relative;
}
.fresher .row .left,
.fresher .row .right {
    flex-basis: 50%;
}
.fresher .row .left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media (max-width: 991px) {
    .fresher .row .left {
        display: none;
    }
}
.fresher .row .left .card {
    background-color: #0f7fd9;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    left: -20%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.fresher .row .left .card div:first-child {
    padding: 0 10px;
}
.fresher .row .left .card div:first-child h3,
.fresher .row .left .card div:first-child span {
    color: #f3e53d;
    font-weight: bold;
}
.fresher .row .left .card div:first-child p {
    margin-left: 10px;
    color: #fff;
}
.fresher .row .left .card div:last-child {
    background-color: #f3e53d;
    padding: 0;
}
.fresher .row .left .card div:last-child {
    padding: 20px 0;
}
.fresher .row .left .card div:last-child h3 {
    margin: 20px 0;
}
.fresher .row .right .top {
    padding: 80px 40px 20px;
}
@media (max-width: 991px) {
    .fresher .row .right .top {
        padding: 50px 0px 20px;
    }
}
.fresher .row .right .top span {
    color: #2b98f0;
    font-weight: bold;
    font-size: 12px;
}
.fresher .row .right .top h3 {
    font-size: 45px;
    font-weight: 300;
    color: #33313b;
    margin: 10px 0 20px;
}
@media (max-width: 767px) {
    .fresher .row .right .top h3 {
        font-size: 35px;
    }
}
.fresher .row .right .top p {
    color: grey;
    line-height: 2;
}
.fresher .row .right .bottom {
    background-color: #f3e53d;
    padding: 40px;
    display: flex;
    /* flex-wrap: wrap; */
    margin-top: 25px;
    justify-content: space-between;
}
.fresher .row .right .bottom .order {
    margin: 0 20px;
}
@media (max-width: 767px) {
    .fresher .row .right .bottom {
        text-align: center;
        justify-content: center;
    }
}
.fresher .row .right .bottom span {
    font-weight: 500;
    font-size: 30px;
}
.fresher .row .right .bottom p {
    font-size: 18px;
    line-height: 1.5;
}
/* End Fresher */

/* Start Services */
.services {
    margin-top: 100px;
}
.services .row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
@media (max-width: 991px) {
    .services .row {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 767px) {
    .services .row {
        grid-template-columns: repeat(1, 1fr);
    }
}
.services .row .box {
    display: flex;
    position: relative;
}
.services .row .box .icons:before {
    content: "";
    position: absolute;
    left: 5px;
    top: 85px;
    background-color: #f3e53d;
    height: 6px;
    width: 57px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    transition: 0.2s linear;
    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
    -ms-transition: 0.2s linear;
    -o-transition: 0.2s linear;
}
.services .row .box:hover .icons:before {
    height: 7px;
    width: 59px;
}
.services .row .box i {
    width: 70px;
    height: 70px;
    background-color: #2b98f0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    margin-top: 15px;
    color: #f3e53d;
    font-size: 30px;
    padding: 20px 10px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.services .row .box:hover i {
    color: #fff;
}
.services .row .box .content h3 {
    font-weight: 500;
    font-size: 18px;
}
.services .row .box .content p {
    color: gray;
    line-height: 1.5;
}
.services .row .box .content button {
    font-size: 12px;
    border: none;
    border-bottom: 2px solid #e6e6e6;
    background-color: transparent;
    text-transform: uppercase;
    transition: 0.2s linear;
    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
    -ms-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    color: #000;
    font-weight: 500;
    cursor: pointer;
}
.services .row .box .content button:hover {
    border-color: #f3e53d;
    color: #f3e53d;
}
.services .row .box:hover {
}
/* End Services */

body {
    height: 3000px;
}
